RewriteEngine On

# Falls die Datei oder das Verzeichnis physisch existiert, nimm es direkt (z.B. für Bilder/Icons)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Alles andere geht an die index.php
RewriteRule ^ index.php [QSA,L]